body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#netflix-player {
	width: 50vw;
	height: 50vh;
}

@media (max-width: 600px) {
	#netflix-player {
		width: 80vw;
		height: 30vh;
	}
}

.bg-fade0 {
	animation: fade0 2s;
}
.bg-fade1 {
	animation: fade1 2s;
}
.bg-fade2 {
	animation: fade2 2s;
}

@keyframes fade0 {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade1 {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade2 {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
